<footer class="site-footer py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6>Useful Links</h6>
                <p class="m-0" ><span [routerLink]="['/about-us']" class="cursor-pointer">About Us</span></p>
                <p ><span [routerLink]="['/contact-us']" class="cursor-pointer">Contact Us</span></p>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <h6>Locations</h6>
                <p>Delhi</p>
            </div>
            <div class="col-md-4">
                <h6>Popular Services</h6>
                <p>Electrical</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="social-links">
                    <a target="_blank" href="https://twitter.com/handy"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://facebook.com/handyhq"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="http://instagram.com/handy_hq"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://plus.google.com/+Handy/posts"><i class="fab fa-google-plus"></i></a>
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Handy_(company)"><i class="fab fa-wikipedia-w"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/handyhq"><i class="fab fa-linkedin"></i></a>
                    <a target="_blank" class="cb" href="https://crunchbase.com/organization/handybook"></a>
                </div>
            </div>
            <div class="col-md-6 "><p class="text-md-right mb-0 mt-3 mt-md-0">2020 Handy. All rights reserved.</p></div>
        </div>
    </div>
</footer>