<section class="py-3 py-md-5 aboutus">
    <div class="container text-center my-md-5">
        <h2 class="m-0 font-weight-bold">About Us</h2>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h4 class="text-uppercase font-weight-bold">About Us</h4>
        <p class="mb-5">
            All Days Service is the Electrical Service Provider of all category like cable wiring, lighting/cable fixture and much more. The offered Services can be modified and create as per the specification provided by our customers.
        </p>
        <!-- <h4 class="text-uppercase font-weight-bold">Our Story</h4>
        <p>All Days Service, formerly known as alldaysservice, was founded in 2012 as a practical solution to an age-old problem: finding top-rated, effective professionals for common household services. Oisin Hanrahan was a 19-year old college student in Ireland when he decided to become a real estate developer in Eastern Europe. After scouring various cities on weekend breaks from Trinity College in Dublin, Hanrahan started buying and renovating apartments in Budapest. While renovating a series of apartments around the city, Oisin found it difficult to find quality alldaysservice he could trust to get the job done. There was no easy way. A few years later, while attending Harvard Business School, Oisin and classmate, Umang Dua, realized the same was true in the U.S. They developed All Days Service to fill that void, with the goal of building the easiest, most convenient way for busy people everywhere to book household services.</p> -->
    </div>
</section>