<section class="py-3 py-md-5 contactus">
    <div class="container text-center my-md-5">
        <h2 class="m-0 font-weight-bold">Contact Us</h2>
    </div>
</section>

<section class="py-5"> 
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5 class="mb-3">Contact Us</h5>
                <form action="#">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-row my-4">
                        <div class="col-md-6">
                            <label for="">Email Id</label>
                            <input type="email" class="form-control" placeholder="Email Id">
                        </div>
                        <div class="col-md-6">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-md-5 pl-md-4">
                <h5>Get In Touch</h5>
                <p><i class="fa fa-envelope"></i> info@domain.com</p>
                <p><i class="fa fa-phone"></i> 789789798</p>

                <div class="my-4">
                    <h5>Address</h5>
                    <p><i class="fa fa-location-arrow"></i> Delhi - 176302</p>
                </div>

                <h5>Follow us</h5>
                <div class="social-links">
                    <a target="_blank" href="https://twitter.com/handy"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://facebook.com/handyhq"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="http://instagram.com/handy_hq"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://plus.google.com/+Handy/posts"><i class="fab fa-google-plus"></i></a>
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Handy_(company)"><i class="fab fa-wikipedia-w"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/handyhq"><i class="fab fa-linkedin"></i></a>
                    <a target="_blank" class="cb" href="https://crunchbase.com/organization/handybook"></a>
                </div>
            </div>
        </div>
    </div>
</section>